.taskCard {
  background-color: #fff !important;
  border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    .taskTitle {
      font-weight: bold;
      font-size: 16px;
      padding: 10px;
      margin: 0;
      margin-left: 100px;
    }
    p {
      font-size: 14px;
      color: #666;
      margin: 0;
      padding: 10px;
    }
  
