$spacer: 20px;
$gutter: 40px;

.button {
  margin-left: 300px!important;
}

.buttonContainer {
  margin-left: $gutter;
}

.viewTasks {
  width: 100px;
}

.deleteButton {
  margin-left: $spacer;
  width: fit-content;
  background-color: red;
  color:#f9f9f9;
}

.dashboard {
  visibility: hidden;
}

.activeProjects {
  margin-left: $gutter;
  margin-top: $spacer;
}

.projectForm {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: $spacer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: $gutter auto;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer;
  padding: $spacer;
  margin-left: 250px;
}

.projectCard {
  background-color: #f1f1f1;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  padding: $spacer;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.projectForm h3 {
  margin-bottom: $spacer;
  color: #2c3e50;
}

.projectForm label {
  display: block;
  margin-bottom: $spacer;
  color: #34495e;
}

.projectForm input[type="text"],
.projectForm input[type="date"],
.projectForm textarea,
.projectForm select {
  width: 90%;
  padding: $spacer;
  margin-bottom: $spacer;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
}

.projectForm textarea {
  resize: vertical;
  min-height: 80px;
}

.projectForm button {
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: $spacer;
  cursor: pointer;
  font-size: 16px;
  margin-right: $spacer;
  transition: background-color 0.3s;
}

@media only screen and (max-width: 768px) {
.activeProjects{

     margin-left: 120px;
    }
  .projects {
    margin-left: $gutter;
  }
  .projectsContainer{
    margin-left: 100px!important;
  }

  .button{
    margin-left: 120px!important;
  }
.buttonContainer{
    flex-direction: column !important;
margin-left: 0!important;
gap: 20px;
.deleteButton{
    margin: 5px;
    margin-top: 20px!important;
}
  }
}